body {
  font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

section {
  padding: 45px 0 80px 0; }

section .heading {
  text-align: center;
  padding-bottom: 40px; }

ul, ol {
  list-style: none; }

.red-divider {
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto; }

#about {
  padding-top: 100px;
}

.profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none; }

#about .heading h1 {
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase; }

#about .heading h3 {
  color: #fff; }

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 7px;
  transition: all 0.3s ease-in 0s; }

.button1:hover {
  background: white;
  color: #6c757d;
  text-decoration: none; }

#skills .heading h2 {
  margin-top: 30px;
  color: white;
  text-transform: uppercase; }

#skills .progress {
  height: 15%;
  margin: 50px 40px;
  background: white;
  border-radius: 20px;
  border: solid 2px white;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto; }

#experience .heading h2 {
  margin-top: 30px;
  color: white;
  text-transform: uppercase; }

.timeline {
  padding: 30px 10px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #fff;
  left: 50%;
  margin-left: -2.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:after {
  clear: both; }

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table; }

.timeline li .timeline-badge {
  color: #66ccff;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%; }

.timeline-panel-container {
  width: 50%;
  float: left; }

.timeline-panel-container-inverted {
  width: 50%;
  float: right; }

.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px 0, 0, 0, 0.175;
  background: #fff; }

.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px; }

.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline-panel-container-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-heading h3 {
  margin-top: 5px; }

.timeline-heading h4 {
  color: #66ccff;
  font-size: 20px; }

#education {
  background: white; }

#education .heading h2 {
  color: white;
  text-transform: uppercase;
  margin-top: 30px; }

.education-block {
  height: 350px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #6c757d;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 20px; }

.education-block h5 {
  color: white;
  font-size: 15px;
  margin-bottom: 15px; }

.education-block .fa {
  font-size: 40px; }

.education-block h3 {
  color: #66ccff; }

.education-block h4 {
  margin-bottom: 20px; }

.education-block {
  font-weight: bold;
  color: white;
 }

.education-block .red-divider {
  margin-bottom: 20px;
}

#portfolio .heading h2 {
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 30px; }

#img {
  border: 7px solid white;
}

#portfolio .thumbnail img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

#portfolio .thumbnail img:hover {
  filter: none;
  -webkit-filter: none; }

/*# sourceMappingURL=style.css.map */
